<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="1" parallel ="classes">

	<listeners>
		<listener class-name = "extendReport.ExtentTestNGIReporterListener"/>
	</listeners>
	

  <test  name="Chrome">
    <classes>
      <class name="TestNG.TestNG_TESTAUTOMATION"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test  name="FirefoxTest">
    <parameter name="BrowserName" value="Firefox"/>
    <classes> 
     
      <class name="TestNG.TestNG_TESTAUTOMATION"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test name="MicrosoftEdgeTest">
    <parameter name="BrowserName" value="MicrosoftEdge"/>
    <classes> 
      
      <class name="TestNG.TestNG_TESTAUTOMATION"/>
 
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
